body {
    width: 100%;
}

.container {
    width: 30%;
    border: none;
    border-radius: 18px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.icon-oauth {
    max-width: 80%;
    height: auto;
}


.submit {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 18px;
    cursor: pointer;
}

.submit:hover {
    background-color: #45a049;
}

.input-field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 18px;
    box-sizing: border-box;
}
