* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main_navbar {
    /* overflow: hidden; */
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 40px;
}

.narvar-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: violet;
}

.narbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.head {
    padding-top: 130px;
    background-color: rgb(3, 85, 78);
    color: white;
}

.footer {
    margin-bottom: 0;
    height: 5px;
}

.logo {
    width: 80px;
    height: 80px;
}