<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/login.css">
    <title>licena</title>
</head>
<body>
<div class="container">
    <div>Log In</div>
    <form class="login-form">
        <input type="text" id="fname" name="firstname" placeholder="Enter name">

        <input type="text" id="lname" name="lastname" placeholder="Enter password">

        <input type="submit" value="Submit">

    </form>
     <img class="icon-oauth" src=url("../../static/images/google.png") alt="Google Icon">
    <img class="icon-oauth" src=url("../../static/images/facebook.png") alt="Google Icon">


</div>
</body>
</html>
