<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <div>
      <form action="" method="POST">
        <label> Username: </label><br>
        <input name="username" type="username" placeholder="write your username"><br>
        <label>Password: </label><br>
        <input name="password" type="password" placeholder="write your password"><br>
        <input type="submit" value="Login"><br>
      </form>
    </div>
    <div>
      <form action="/new">
        <label>New here?</label>
        <input value="Register" type="submit">
      </form>
    </div>
  </body>
</html>
